.account-card {
    -fx-background-color: #d4d4d4;
    -fx-padding: 3px 2px 0px 2px;
    -fx-border-insets: 3px 2px 0px 2px;
    -fx-background-insets: 3px 2px 0px 2px;
}

.account-card .username-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.account-card .control {
    -fx-pref-width: 60px;
}

.account-card .domain-label {
    -fx-font-size: 10px;
    -fx-font-style: italic;
}

.bottom-message-darkening {
    -fx-background-color: black;
    -fx-opacity: 60%;
}

.bottom-message-darkening .text {
    -fx-text-fill: white;
}

.modal-darkening {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    -fx-background-color: ghostwhite;
    -fx-opacity: 100%;
}

.modal .title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}
